<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>El Brunch Latino</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/one-page-wonder.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
 
 <!-- Logo -->
 <!--<img src="/assets/logo.JPG" class="img-responsive center-block" alt="ebl logo"> -->
<%= image_tag "logo.JPG", align=> "middle") %>
 
<!-- Market Links -->
<div class="container">
	<p class="text-center">
		New York/New Jersey
		<br />Las Vegas
		<br />Houston</p>
	</div>



<!-- Body -->
<div class="container">
	<div class="text-center">
		<body>
<p><h3>About Us
<br /><small>Create an atmosphere to exhibit the modern Latino through our five senses. Capturing the evolution of the Hispanic culture on one platform, one location, one event, one day:</small></h3></p>

<strong><u><p>EL BRUNCH LATINO
<br /><em>WILL captivate all of your senses:</em></strong></u></p>

<p><strong>SMELLS</strong>
<br />that will awaken your appetite and trigger your inner Latino</p>

<p><strong>TOUCH</strong>
<br />on a variety of elements that make us proud of our roots and who we have become</p>

<p><strong>TASTE</strong>
<br />an exquisite cuisine from our featured Brunch that will burst with beautifully balanced flavors</p>

<p><strong>SEE</strong>
<br />raw elements of who we are and our developing identity</p>

<p><strong>HEAR</strong>
<br />a fusion of international sounds that will take you on a rhythmical roller-coaster</p>

</div>

<!-- Music Player 
<iframe src="https://www.mixcloud.com/widget/iframe/?embed_type=widget_standard&amp;embed_uuid=f4384d15-8c18-40ff-9bd4-35caebd2504f&amp;feed=https%3A%2F%2Fwww.mixcloud.com%2FELBRUNCHLATINO%2Fel-brunch-latino-mix-episode-1-podcast-101115%2F&amp;hide_cover=1&amp;hide_tracklist=1&amp;replace=0" frameborder="0" height="180" width="660"></iframe><div style="clear: both; height: 3px; width: 652px;"></div><p style="display: block; font-size: 11px; font-family: &quot;Open Sans&quot;,Helvetica,Arial,sans-serif; margin: 0px; padding: 3px 4px; color: rgb(153, 153, 153); width: 652px;"><a href="https://www.mixcloud.com/ELBRUNCHLATINO/el-brunch-latino-mix-episode-1-podcast-101115/?utm_source=widget&amp;utm_medium=web&amp;utm_campaign=base_links&amp;utm_term=resource_link" target="_blank" style="color:#808080; font-weight:bold;">EL BRUNCH LATINO MIX - EPISODE 1 PODCAST - 10.11.15</a><span> by </span><a href="https://www.mixcloud.com/ELBRUNCHLATINO/?utm_source=widget&amp;utm_medium=web&amp;utm_campaign=base_links&amp;utm_term=profile_link" target="_blank" style="color:#808080; font-weight:bold;">El_Brunch_Latino_Show</a><span> on </span><a href="https://www.mixcloud.com/?utm_source=widget&amp;utm_medium=web&amp;utm_campaign=base_links&amp;utm_term=homepage_link" target="_blank" style="color:#808080; font-weight:bold;"> Mixcloud</a></p><div style="clear: both; height: 3px; width: 652px;"></div> -->

<!-- Footer -->
 <footer>
    <div class="row">
        <div class="col-lg-12">
            <p>Copyright &copy; El Brunch Latino 2015</p>
            <p>Web Design by MM.</p>
    </div>
         </div>
</footer>

</div>
 <!-- /.container -->

 <!-- jQuery -->
 <script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
 <script src="js/bootstrap.min.js"></script>


</body>

</div>

</html>


