<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>El Brunch Latino</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/one-page-wonder.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
 
 <!-- Logo -->
<%= image_tag "logo.JPG", class: "center-block" %>
 
<!-- Market Links -->
<div class="container">
	<div class="text-center">
        <div class="lead">
		New York/New Jersey |
        Las Vegas |
        <%= link_to "Houston", welcome_main_path %>
    </div>
    </div>
	</div>



<!-- Body -->
<div class="container">
	<div class="text-center">
        <div class="lead">
		<body>
<p><h3>About Us
<br /><small>Create an atmosphere to exhibit the modern Latino through our five senses. Capturing the evolution of the Hispanic culture on one platform, one location, one event, one day:</small></h3></p>

<strong><u><p>EL BRUNCH LATINO
<br /><em>WILL captivate all of your senses:</em></strong></u></p>

<p><strong>SMELLS</strong>
<br />that will awaken your appetite and trigger your inner Latino</p>

<p><strong>TOUCH</strong>
<br />on a variety of elements that make us proud of our roots and who we have become</p>

<p><strong>TASTE</strong>
<br />an exquisite cuisine from our featured Brunch that will burst with beautifully balanced flavors</p>

<p><strong>SEE</strong>
<br />raw elements of who we are and our developing identity</p>

<p><strong>HEAR</strong>
<br />a fusion of international sounds that will take you on a rhythmical roller-coaster</p>

</div>

</div>

<hr class="featurette-divider">

<!-- Footer -->
 <footer>
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center">
            <p>Copyright &copy; El Brunch Latino 2015</p>
            <p>Web Design by MM.</p>
        </div>
    </div>
         </div>
</footer>

</div>
 <!-- /.container -->

 <!-- jQuery -->
 <script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
 <script src="js/bootstrap.min.js"></script>


</body>

</div>

</html>


